.container {
    @include boxSizing();
    background: url(../img/pc/bg.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    //min-width: 1280px;
    // min-height: 900px;
}
.top {
    @include boxSizing();
    width: 100%;
    // height: 180px;
    
    //background: rgba(255, 0, 0, 0.137);

    .top_info {
        @include boxSizing();
        width: 100%;
        height: 100%;
        max-width: 400px;
        max-height: 93px;
        background: url(../img/pc/user_status_bg.png) no-repeat;
        background-size: contain;
        display: flex;
        padding: 18px 20px;

        .info_ava {
            width: 100%;
            height: 100%;
            max-width: 52px;
            max-height: 52px;
            border-radius: 52px;
            overflow: hidden;
            
            img {
                width: 100%;
            }
        }
        .info_name-block {
            color: #FFFFFF;
            overflow: hidden;

            .info_name-lv {
                width: 100%;
                background: #101b2c;
                height: 25px;
                border-radius: 25px;
                margin-top: 8px;
                overflow: hidden;
                position: relative;

                .info_name-lv--active {
                    @include boxSizing();

                    background: linear-gradient(to bottom, #fce817 0%,#fce817 35%, #e6bc06 100%);
                    height: 100%;
                    width: 60%;
                    border: 1px solid #fffb00;
                    border-radius: 25px;
                    
                }
                .info_name-lv--number {
                    font-weight: bold;
                    padding-top: 3px;
                    text-align: center;
                    color: #FFFFFF;
                    -webkit-text-stroke: 1px #2c8fe0;
                    position: absolute;
                    top: 0px;
                    left: 15px;
                }
            }
        }
        .info_star-block {
            color: #FFFFFF;
            //font-size: 1.4rem;
            font-weight: bold;
            
            .info_star--star {
                max-width: 40px;
                
                img {
                    width: 100%;
                }
            }
            .info_star--number {
                height: 42px;
                padding-left: 10px;
            }
        }
    }
    .top_coin {
        //background: red;
        margin: 30px 30px 30px 50px;

        .coin_text {
            @include boxSizing;
            
            color: #FFFFFF;
            font-size: 1.4rem;
            font-weight: bold;
            text-align: right;
            padding: 5px 15px 5px 60px; 
            min-width: 180px;
            border-radius: 30px;
            border: 1px solid #025590;
            background: linear-gradient(to bottom, #003c69 0%, #003c69 50%, #003155 50%, #003155 100%);
            position: relative;

            &::before {
                content: '';
                background: url(../img/pc/coin.svg) no-repeat;
                width: 50px;
                height: 50px;
                position: absolute;
                left: -10px;
                top: -10px;
            }
        }
    }
    .top_submenu {
        //background: yellow;
        height: 100%;

        .top_submenu-item {
            display: block;
            width: 16vh;
            height: 18vh;
            //max-width: 156px;
            cursor: pointer;
            position: relative;

            @for $i from 1 through 5 {
                &[data-icon="#{$i}"] {
                    background: url(../img/pc/top_menu_0#{$i}.png) no-repeat;
                    background-size: contain;
                }
            }

            &:hover {
                opacity: 0.8;
            }

            .submenu_count {
                background: url(../img/pc/count_bg.svg) no-repeat;
                width: 30px;
                height: 30px;
                color: #FFFFFF;
                font-weight: bold;
                text-align: center;
                padding-top: 6px;
                position: absolute;
                right: 3vh;
                bottom: 3vh;
            }
            .submenu_new {
                @extend .submenu_count;
                background: url(../img/pc/new.svg) no-repeat;
                width: 50px;
            }
            
        }
    }
}
.center {
    @include boxSizing();
    height: 60%;
    

    .left {
        width: 100%;
        max-width: 400px;
        margin-top: -19vh;
        margin-left: 30px;
        //background: yellowgreen;
    
        .left_daily {
            width: 100%;
    
            img {
                width: 100%;
            }
        }
        .left_quest {
            width: 100%;
            margin-top: -20px;
            //background: yellow;

            .left_quest-item {
                width: 100%;
                height: 100%;
                background: url(../img/pc/quest_bg.png) no-repeat left center;
                background-size: contain;
                cursor: pointer;

                &::after {
                    content: '';
                    background: url(../img/pc/quest_bg_blur.png) no-repeat;
                    background-size: 100%;
                }
                
                .quest-item_lock {
                    background: url(../img/pc/lock.png) no-repeat center center;
                    background-size: contain;
                    height: 60px;
                    margin: 0 10px 0 30px;
                }
                .quest-item_get-reward {
                    @extend .quest-item_lock;
                    
                    background: url(../img/pc/get_reward_btn.png) no-repeat center center;
                    background-size: contain;
                }
                .quest-item_content {
                    font-size: 3vmin;
                    font-weight: bold;
                    color: #b4b4b5;

                    &.active {
                        background: linear-gradient(to bottom, #FFFFFF, #fbe30b, #fe8717);
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;
                    }
                }
                .quest-item_pic {
                    width: 11vh;
                    height: 14vh;
                    margin-right: -15px;

                    @for $i from 1 through 4 {
                        &[data-icon="#{$i}"] {                 
                            @if $i <= 3 {
                                background: url(../img/pc/fish_#{$i}.png) no-repeat;
                                background-size: 100%;
                            } @else if $i {
                                background: url(../img/pc/treasurebox.png) no-repeat;
                                background-size: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .right {
        width: 100%;
        height: 100%;
        margin-left: 20vh;
        margin-right: 30px;
        //background: green;

        .right_room-btn {
            display: block;
            width: 100%;
            height: 100%;
            max-width: 465px;
            max-height: 600px;
            cursor: pointer;

            @for $i from 1 through 3 {
                &[data-icon="#{$i}"] {
                    background: url(../img/pc/game0#{$i}.png) no-repeat;
                    background-size: contain;
                }
            }
            &:first-child {
                margin-right: -2rem;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
.footer {
    @include boxSizing();
    
    position: relative;
    width: 100%;
    height: 82px;
    background: #07222d;

    .footer_message {
        //position: absolute;
        bottom: 0;
        left: 0;
        max-width: 542px;
        height: 200px;
        padding: 10px;
        background: #071824;
        opacity: 0.9;
        //border: 1px solid #097480;
        box-shadow: 1px -1px #097480;
        display: flex;

        .message_box {
            //width: 100%;
            height: 130px;
            //background: red;
            margin-right: 10px;
            overflow-y: auto;

            .box-inner {

                .box-inner_tag--system {
                    padding: 6px 14px;
                    background: linear-gradient(to bottom, #f2ce00, #f26d00);
                    color: #FFFFFF;
                    text-align: center;
                    width: 100%;
                    max-width: 52px;
                    margin-right: 10px;
                    border-radius: 5px;
                    font-size: 1.2rem;
                    text-shadow: 1px 1px #000000;
                }
                .box-inner_tag--world {
                    @extend .box-inner_tag--system;
                    background: linear-gradient(to bottom, #45b0ff, #1e75ff);
                }
                .box-inner_tag--boat {
                    @extend .box-inner_tag--system;
                    background: linear-gradient(to bottom, #ff6435, #ff2804);
                }
                .box-inner_txt {
                    line-height: 1.4;
                    margin-top: 4px;
                }
                .box-inner_txt--green {
                    color: #8dc21f;
                }
                .box-inner_txt--white {
                    color: #FFFFFF;
                }
                .box-inner_txt--blue {
                    color: #2396b2;
                }
                .box-inner_txt--red {
                    color: #e95513;
                }
            }
        }
        .input_box {
            margin: 10px 10px 0 0;
            position: relative;

            .input {
                @include boxSizing();
                width: 100%;
                height: 40px;
                background: #032e39;
                border-radius: 3px;
                padding: 2px 10px;
                color: #FFFFFF;
                border: 0px;
                font-size: 1rem;
            }
            .input_icon-send {
                position: absolute;
                right: 8px;
                top: 8px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 12px 0 12px 26px;
                border-color: transparent transparent transparent #2c5b75;
                cursor: pointer;

                &::before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 2px 0 2px 18px;
                    border-color: transparent transparent transparent #032e39;
                    position: absolute;
                    left: -30px;
                    top: -1px;
                }
            }
        }
        .message_icon {
            height: 180px;

            .message_icon-arror-top {
                width: 100%;
                height: 100%;
                max-width: 40px;
                max-height: 40px;
                cursor: pointer;
                margin-left: 5px;
    
                &:hover {
                    opacity: 0.8;
                }
            }
            .message_icon-setting {
                @extend .message_icon-arror-top;
            }
        } 
    }
    .footer_menu {
        //width: 100%;
        height: 82px;
        max-width: 1100px;
        //background: red;

        .footer_menu-item {
            width: 100%;
            height: 100%;
            max-height: 68px;
            margin-right: 2px;
            cursor: pointer;

            @for $i from 1 through 6 {
                &[data-icon="#{$i}"] {
                    background: url(../img/pc/bottom_menu_0#{$i}.png) no-repeat center center;
                    background-size: 100%;
                }
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .txt_menu {
        color: #05c3d9;
        position: absolute;
        bottom: 90px;
        right: 10px;
        font-size: 0.6rem;

        &::before {
            content: '';
            width: 10px;
            height: 10px;
            background: #05c3d9;
            margin-right: 5px;
            display: inline-block;
        }
    }
    .txt_chatlog {
        @extend .txt_menu;
        transform:rotate(90deg);
        bottom: 155px;
        right: -50px;
    }
}